{% extends "blog/base.html" %}
{% block content %}
    {% include 'blog/navbar.html' %}
    <!-- Blog Post Detail Section -->
    <main class="py-16 bg-gray-50">
        <div class="container mx-auto px-6">
            <div class="mx-auto w-full md:w-3/4 lg:w-2/3">
                <!-- Hero Section -->
                <section class="text-center mb-12">
                    <h1 class="text-5xl font-extrabold text-gray-900 leading-tight mb-6">{{ post.title }}</h1>
                    <p class="text-gray-600 text-lg">
                        Published on
                        <span class="font-semibold">{{ post.created_at }}</span>
                        by
                        <a href="#" class="font-semibold text-blue-600 hover:underline">{{ post.published_by }}</a>
                    </p>
                </section>
                <!-- Post Image -->
                <div class="mb-10">
                    <img src="{{ post.cover.url }}"
                         alt="Blog Post Image"
                         class="w-full h-96 object-cover rounded-lg shadow-lg" />
                </div>
                <!-- Post Content -->
                <article class="bg-white p-10 rounded-lg shadow-lg">
                    <p class="text-gray-800 text-lg leading-relaxed mb-6">{{ post.body }}</p>
                </article>
                <div class="mt-10 flex justify-center space-x-4">
                    {% if post.published_by == user %}
                        <a href="{% url 'update' post.id %}"
                           class="px-4 py-2 bg-blue-500 text-white font-semibold rounded hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-300">Update</a>
                        <a href="{% url 'delete' post.id %}"
                           class="px-4 py-2 bg-red-500 text-white font-semibold rounded hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-300">Delete</a>
                    {% endif %}
                    <a href="{% url 'home' %}"
                       class="px-4 py-2 bg-gray-800 text-white font-semibold rounded hover:bg-gray-900 focus:outline-none focus:ring-2 focus:ring-gray-600">Back</a>
                </div>
            </div>
        </div>
    </main>
    {% include 'blog/footer.html' %}
{% endblock content %}
